*.iml
.gradle
/local.properties
/.idea
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
.DS_Store
*.hprof
*.keystore
*.jks
keystore.properties
local.properties
app/src/personal/
.claude/
